body {
  margin: 30px;
}

#checkbox-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 10%;
}

.custom-checkbox {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.checkmark {
  width: 100%;
  background-color: black;
  color: white;
}

.checkmark.unchecked {
  display: none;
}

.focused {
  outline: 2px solid blue;
  outline-offset: 2px;
}

.native-checkbox:focus-within {
  border: 2px solid rgb(37, 92, 194);
}

input {
  width: 30px;
  display: inline-block;
  height: 30px;
}
